RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php

RewriteCond %{REQUEST_URI} ^/(core|controllers|views|models) [NC]
RewriteRule . index.php